.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-even {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.border-top {
  border-top: 1px solid #d1dbbd;
}
.button-blue button {
  font-family: "Bitter", serif;
  font-size: 1.3rem;
  background: #3e606f;
  border: none;
  color: #f7fbfb;
  padding: 10px 35px;
  margin: 19px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 25px;
}
.button-blue button:hover {
  background: #657e92;
}
.button-blue button,
.button-blue input:focus {
  outline: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  background-color: #f6f6f6;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
p {
  line-height: 1.3;
  font-size: 1rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #193441;
  color: #f7fbfb;
  font-family: "Bitter", serif;
  position: fixed;
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container h1 {
  cursor: pointer;
  width: 200px;
  font-size: 1.3rem;
  text-align: left;
  padding-left: 12px;
}
.header-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20px;
  padding: 16px 12px;
}
@media (min-width: 800px) {
  .header-container nav {
    width: 230px;
  }
}
.header-container nav i {
  cursor: pointer;
  opacity: 0.9;
}
@media (min-width: 800px) {
  .header-container nav i {
    display: none;
  }
}
.header-container nav a {
  display: none;
  text-decoration: none;
  opacity: 0.9;
  color: #f7fbfb;
}
@media (min-width: 800px) {
  .header-container nav a {
    display: inline;
  }
}
.header-container nav i:hover {
  opacity: 1;
}
.header-container nav a:hover {
  opacity: 1;
}
.menu {
  z-index: 2;
}
.menu nav {
  width: 230px;
}
.menu a {
  display: inline;
}
i:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in-out;
}
footer {
  max-width: 1000px;
  font-family: "Bitter", serif;
  width: 100%;
  margin: 0 auto;
  background-color: #193441;
  color: #fcfff5;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-content .contact-info {
  border-bottom: 1px solid #d1dbbd;
  border-top: 1px solid #d1dbbd;
  padding: 15px;
  line-height: 1.1;
  width: 80%;
  margin-bottom: 5px;
  color: #3e606f;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 800px) {
  footer .footer-content .contact-info {
    flex-direction: row;
  }
}
footer .footer-content .contact-info h2 {
  color: #fcfff5;
  margin-bottom: 5px;
}
footer .footer-content .contact-info span {
  color: #fcfff5;
}
footer .footer-content .contact-info address {
  margin-bottom: 5px;
}
footer form {
  font-size: 1.2rem;
  margin: 15px;
}
footer form input {
  margin: 8px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  padding: 3px;
}
footer form button {
  margin: 0;
  font-size: 1rem;
  padding: 10px 10px;
}
footer .copyright {
  margin-top: 15px;
  text-align: center;
}
footer i {
  margin-top: 6px;
  color: white;
}
footer i:active {
  color: white;
}
html {
  scroll-behavior: smooth;
  background-color: #e4eeef;
}
html button {
  font-family: "Bitter", serif;
  font-size: 1.3rem;
  background: #3e606f;
  border: none;
  color: #f7fbfb;
  padding: 10px 35px;
  margin: 19px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 25px;
}
html button:hover {
  background: #657e92;
}
html button,
html input:focus {
  outline: 0;
}
.main-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #f7fbfb;
  color: #151131;
}
.cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
}
@media (min-width: 500px) {
  .cta {
    flex-direction: row;
  }
}
.cta img {
  width: 85%;
  order: -1;
  margin-bottom: 30px;
}
@media (min-width: 500px) {
  .cta img {
    order: 1;
    width: 40%;
  }
}
.cta .cta-text {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 500px) {
  .cta .cta-text {
    width: 40%;
  }
}
.cta h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-family: "Bitter", serif;
}
.cta h3 {
  font-style: italic;
  color: #657786;
}
.main-container {
  border-top: 1px solid #d1dbbd;
  width: 95%;
  margin: 0 auto;
}
.main-container .product,
.main-container .product2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
  flex-direction: column;
}
@media (min-width: 800px) {
  .main-container .product,
  .main-container .product2 {
    flex-direction: row;
  }
}
.main-container .product img,
.main-container .product2 img {
  width: 85%;
  background-color: #19344169;
  padding: 10px;
  border-radius: 5px;
}
@media (min-width: 800px) {
  .main-container .product img,
  .main-container .product2 img {
    order: -1;
    width: 40%;
  }
}
.main-container .product h2,
.main-container .product2 h2 {
  margin-bottom: 15px;
  color: #151131;
  font-family: "Bitter", serif;
}
@media (min-width: 800px) {
  .main-container .product .top-content,
  .main-container .product2 .top-content,
  .main-container .product .top-content2,
  .main-container .product2 .top-content2 {
    width: 35%;
  }
}
.main-container .product2 {
  margin-top: 30px;
}
@media (min-width: 800px) {
  .main-container .product2 img {
    order: 1;
    width: 40%;
  }
}
.main-container .product2 p {
  margin-bottom: 15px;
}
.user-ticker {
  border-top: 1px solid #d1dbbd;
  max-width: 95%;
  margin-top: 15px;
  padding: 15px 0;
}
.user-ticker h2 {
  font-family: "Bitter", serif;
}
.team {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #f7fbfb;
  color: #151131;
  line-height: 1.2;
  border-top: 1px solid #d1dbbd;
  padding-top: 50px;
}
.team h2 {
  font-family: "Bitter", serif;
  margin: 15px 0 15px 0;
}
@media (min-width: 500px) {
  .team h2 {
    text-align: center;
  }
}
.team .team-text {
  text-align: center;
  margin: 5px;
}
.person-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 5px;
  padding-bottom: 25px;
}
.person-card {
  width: 265px;
  display: flex;
  height: 80px;
  margin: 20px 5px 0 5px;
  padding: 10px;
  background-color: #1934410c;
  border-radius: 5px;
  border: 1px solid #1934416c;
}
.person-card .name {
  font-family: "Bitter", serif;
  font-weight: bold;
  padding-bottom: 5px;
}
.person-card .position {
  color: #657786;
  font-weight: none;
  font-style: italic;
  padding-bottom: 5px;
}
.person-card .left-side {
  width: 110px;
  margin-right: 10px;
}
.person-card .left-side img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.person-card .right-side {
  width: 70%;
}
.hidden {
  display: none;
}
.seeMoreButton {
  width: 72%;
  margin: 0;
  margin-top: 15px;
}
.all-team {
  display: inline;
}
