.main-container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: @off-white-light;
  color: @text;
}

.cta {
  .center-even;
  padding-top: 80px;
  flex-direction: column;
  @media @tablet {
    flex-direction: row;
  }
  img {
    width: 85%;
    order: -1;
    @media @tablet {
      order: 1;
      width: 50%;
    }
    margin-bottom: 30px;
  }

  .cta-text {
    width: 85%;
    @media @tablet {
      width: 40%;
    }
    .center-even;
    flex-direction: column;
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  h3 {
    font-style: italic;
    color: @medium-blue;
  }
  button {
    font-size: 1.3rem;
    background: @medium-blue;
    border: none;
    color: @off-white-light;
    padding: 10px 35px;
    margin: 19px;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 25px;
  }
}

.main-content {
  border-top: 1px solid @gray2;
  width: 95%;
  margin: 0 auto;

  .our-product {
    .center-even;
    margin-top: 15px;
    flex-direction: column;
    @media @tablet {
      flex-direction: row;
    }
    img {
      width: 85%;
      @media @tablet {
        order: -1;
        width: 50%;
      }
    }
    h2 {
      margin-bottom: 15px;
    }
    .top-content {
      @media @tablet {
        width: 35%;
      }
    }
  }
  .our-team {
    border-top: 1px solid @gray2;
    margin-top: 20px;
    h2 {
      margin: 20px 0 15px 0;
      @media @tablet {
        text-align: center;
      }
    }
    h3 {
      text-align: center;
    }
    p {
      margin-bottom: 10px;
    }
  }
  .person-container {
    .center-even;
    flex-flow: row wrap;
    margin-top: 5px;
    padding-bottom: 10px;
  }
  .person-card {
    width: 300px;
    display: flex;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.137);
    border-radius: 5px;
    border: 1px solid #19344125;

    .name {
      font-family: @Bitter;
      font-weight: bold;
      padding-bottom: 5px;
    }
    .position {
      .bio {
        color: @text;
      }
      color: rgb(101, 119, 134);
      font-weight: none;
      font-style: italic;
      padding-bottom: 5px;
    }
    .left-side {
      width: 240px;
      margin: 0 auto;
      margin-right: 10px;
      img {
        border-radius: 50%;
      }
    }
  }
}

footer {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #193441;
  color: @off-white;
  flex-direction: column;

  .copy {
    font-family: @Bitter;
  }
  .footer-content {
    display: flex;
    padding: 20px 0;
    width: 100%;
    justify-content: space-evenly;
  }
  h2 {
    padding: 10px;
  }
  p {
    text-align: center;
    font-size: 1rem;
  }
  address {
    margin-right: 40px;
    padding-left: 10px;
  }
  form {
    input {
      margin-top: 5px;
      border-radius: 5px;
      border: none;
      font-size: 1.2rem;
    }
  }
  button {
    background: @off-white-light;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    margin: 5px 0;
  }
}
