html {
  scroll-behavior: smooth;
  background-color: @background;
  .button-blue;
}

.main-content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: @off-white-light;
  color: @text;
}

.cta {
  .center-even;
  flex-direction: column;
  padding-top: 80px;
  @media @tablet {
    flex-direction: row;
  }
  img {
    width: 85%;
    order: -1;
    @media @tablet {
      width: 75%;
    }
    @media @tablet {
      order: 1;
      width: 50%;
    }
    margin-bottom: 30px;
  }
  .cta-text {
    width: 85%;
    @media @tablet {
      width: 40%;
    }
    .center-even;
    flex-direction: column;
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-family: @Bitter;
  }
  h3 {
    font-style: italic;
    color: @text2;
  }
}
.main-container {
  .border-top;
  width: 95%;
  margin: 0 auto;
  .product {
    .center-even;
    margin: 15px 0;
    flex-direction: column;
    @media @desktop {
      flex-direction: row;
    }
    img {
      width: 85%;
      @media @desktop {
        order: -1;
        width: 50%;
      }
    }
    h2 {
      margin-bottom: 15px;
      color: @text;
      font-family: @Bitter;
    }
    .top-content {
      @media @desktop {
        width: 35%;
      }
    }
  }
  .team {
    .border-top;
    margin-top: 20px;
    h2 {
      font-family: @Bitter;
      margin: 15px 0 15px 0;
      @media @tablet {
        text-align: center;
      }
    }
    h3 {
      text-align: center;
    }
    p {
      margin-bottom: 10px;
    }
  }
  .person-container {
    .center-even;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 5px;
    padding-bottom: 10px;
  }
  .person-card {
    width: 375px;
    display: flex;
    height: 105px;
    margin: 20px 5px 0 5px;
    padding: 10px;
    background-color: #1934410c;
    border-radius: 5px;
    border: 1px solid #1934416c;
    @media @tablet {
      width: 375px;
    }
    @media @desktop {
      width: 235px;
      height: 140px;
    }
    .name {
      font-family: @Bitter;
      font-weight: bold;
      padding-bottom: 5px;
    }
    .bio {
      color: @text;
      margin-bottom: 5px;
    }
    .position {
      color: rgb(101, 119, 134);
      font-weight: none;
      font-style: italic;
      padding-bottom: 5px;
    }
    .left-side {
      width: 240px;
      margin: 0 auto;
      margin-right: 10px;
      img {
        border-radius: 50%;
      }
    }
  }
  .user-ticker {
    h2 {
      font-family: @Bitter;
    }
    .border-top;
    margin-top: 15px;
    padding: 15px 0;
  }
}
