header {
  background-color: #193441;
  color: white;
}
.header-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    cursor: pointer;
  }
  nav {
    width: 40%;
    display: flex;
    flex-direction: flex-end;
    justify-content: space-evenly;
    padding: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
