header {
  background-color: @dark-blue;
  color: @off-white-light;
  font-family: @Bitter;
  position: fixed;
  width: 100%;
  margin-bottom: 80px;
}
.header-container {
  // max-width: 1000px;
  margin: 0 auto;
  
  .center;
  h1 {
    cursor: pointer;
    width: 33%;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 2%;
    @media @tablet {
      width: 200px;
    }
  }
  nav {
    font-family: @Rubik;
    width: 300px;
    padding: 20px 2%;
    .center;
    @media @tablet {
      width: 20px;
    }
    i {
      display: none;
      cursor: pointer;
      opacity: .9;
      @media @tablet {
        display: inline;
      }
    }
    i:hover {
      opacity: 1;
    }
    
    a {
      text-decoration: none;
      opacity: .9;
      color: @off-white-light;
      @media @tablet {
        display: none;
      }
    }
    a:hover {
      opacity: 1;
    }
  }
}
