// Media
@tablet: ~"(min-width: 501px)";
@desktop: ~"(min-width: 800px)";

// Colors
@dark-blue: #193441;
@medium-blue: #3e606f;
@text: #151131;
@text2: rgb(101, 119, 134);
@gray2: #91aa9d;
@light-green: #d1dbbd;
@off-white: #fcfff5;
@off-white-light: #f7fbfb;
@background: rgb(228, 238, 239);

// Fonts
@Rubik: "Rubik", sans-serif;
@Bitter: "Bitter", serif;
